## Python requirements for using the Synctify application.
##
##   python -m pip install --requirement=requirements.txt
##
config==0.5.0.post0
gmail==0.6.3
logger==1.4
python-dotenv==0.14.0
PyYAML==5.3.1
